<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="3981"
    android:versionName="201.1"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="com.security.xvpn.z35kb"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="34"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.Camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <package android:name="com.facebook.katana"/>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
    </queries>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <permission
        android:name="com.security.xvpn.z35kb.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.security.xvpn.z35kb.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.security.xvpn.z35kb.XApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:banner="@drawable/ic_launcher_tv"
        android:extractNativeLibs="true"
        android:resizeableActivity="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:localeConfig="@xml/locales_config">
        <service android:name="com.security.xvpn.z35kb.util.NotificationCheckService"/>
        <service
            android:name="com.security.xvpn.z35kb.firebase.XFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:theme="@style/AppTheme.TV"
            android:name="com.security.xvpn.z35kb.television.GuideActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/AppTheme.TV"
            android:name="com.security.xvpn.z35kb.television.account.SignInActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/AppTheme.TV"
            android:name="com.security.xvpn.z35kb.television.account.SignUpActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/SplashTheme"
            android:name="com.security.xvpn.z35kb.television.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="layoutDirection|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.security.xvpn.z35kb.protocol.ProtocolSettingsActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.purchase.StartAppGuideToPurchaseActivity"
            android:exported="false"/>
        <activity
            android:name="com.security.xvpn.z35kb.protocol.ProtocolActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.ui.debug.DeviceInfoActivity"
            android:exported="false"/>
        <activity
            android:name="com.security.xvpn.z35kb.television.account.PasscodeLoginActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.browser.BrowserTabIndexActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|uiMode|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/AppTheme.PrivateBrowser"
            android:label="@string/browser_name"
            android:name="com.security.xvpn.z35kb.browser.PrivateBrowserActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|uiMode|screenLayout|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/SplashTheme"
            android:name="com.security.xvpn.z35kb.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:configChanges="screenSize|uiMode|screenLayout|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.samsung.android.support.REMOTE_ACTION"/>
            </intent-filter>
            <meta-data
                android:name="com.samsung.android.support.REMOTE_ACTION"
                android:resource="@xml/remote_action_file"/>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <meta-data
            android:name="applovin.sdk.key"
            android:value="CSBz8iel2iF6HvTEUgJpvKbWO3Jt0m7CDIAM0q53WL9oEc0kIKXBe8i1C1vCo0P0JaMJOSNvoWh18hlQ1HcfPK"/>
        <activity
            android:label="@string/forget_password_activity"
            android:name="com.security.xvpn.z35kb.account.ForgetPasswordActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.account.ResetPasswordActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:label="@string/change_password_activity"
            android:name="com.security.xvpn.z35kb.account.ChangePasswordActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.account.AccountActivityNew"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.DebugPageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <receiver
            android:name="com.google.ads.conversiontracking.InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity
            android:label="@string/purchase_activity"
            android:name="com.security.xvpn.z35kb.purchase.PurchaseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:label="@string/choose_server_activity"
            android:name="com.security.xvpn.z35kb.server.ServerChooseActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.security.xvpn.z35kb.message.MessageListActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.message.MessageDetailActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.speedtest.SpeedTestActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <receiver
            android:name="com.security.xvpn.z35kb.util.AlarmNotifyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="TIMING_NOTIFICATION"/>
                <action android:name="ExpiredActivityNotification"/>
                <action android:name="7PercentDiscontActivityNotification"/>
                <action android:name="Issue4641DiscountNotificationId"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.security.xvpn.z35kb.WebViewActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.menu.OtherDevicesListActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.menu.OtherDevicesForPCActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.menu.OtherDevicesForPlayStationActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/AboutActivity"
            android:name="com.security.xvpn.z35kb.AboutActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:label="@string/account_manager_page"
            android:name="com.security.xvpn.z35kb.account.AccountManagerActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:theme="@style/AppTheme"
            android:name="com.security.xvpn.z35kb.purchase.GuideToPurchaseActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/AppTheme"
            android:name="com.security.xvpn.z35kb.purchase.GuideToPurchaseNew1Activity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/AppTheme"
            android:name="com.security.xvpn.z35kb.purchase.GuideToPurchaseNew2Activity"
            android:screenOrientation="locked"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification"/>
        <activity
            android:theme="@style/ChatTheme"
            android:name="com.security.xvpn.z35kb.livechat.ChatActivity"
            android:exported="true"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="ca9dyzujc9"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/ChatTheme"
            android:name="com.security.xvpn.z35kb.livechat.ImageShowActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <meta-data
                android:name="android.notch_support"
                android:value="true"/>
        </activity>
        <activity
            android:name="com.security.xvpn.z35kb.account.ChooseBindSubscribeActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <receiver
            android:name="com.security.xvpn.z35kb.util.DownloadUtil$DownloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.security.xvpn.z35kb.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:theme="@style/AppTheme.PrivateBrowser"
            android:label="@string/browser_name"
            android:name="com.security.xvpn.z35kb.browser.PrivateBrowser"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:label="@string/browser_name"
            android:name="com.security.xvpn.z35kb.browser.IntentReceiverActivity"
            android:enabled="false"
            android:exported="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:relinquishTaskIdentity="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="about"/>
                <data android:scheme="javascript"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="about"/>
                <data android:scheme="content"/>
                <data android:scheme="javascript"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/xhtml+xml"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:pathPattern="/.*\\.mhtml"/>
                <data android:pathPattern="/.*\\.mht"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern="/.*\\.mhtml"/>
                <data android:pathPattern="/.*\\.mht"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/browser_name"
            android:name="com.security.xvpn.z35kb.browser.BrowserSettingActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:label="@string/browser_name"
            android:name="com.security.xvpn.z35kb.browser.SearchEngineActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
        <activity
            android:name="com.security.xvpn.z35kb.browser.ChooseClearTypeActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.browser.BrowserBridgeActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7453571683460119~7842082802"/>
        <activity
            android:name="com.security.xvpn.z35kb.AdvancedFeaturesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.television.account.ForgetAndChangePsswordTV"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.television.GlobalGuideNormalActivity"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.television.server.ChooseServerActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.television.MainTVActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.television.account.AccountActivityTV"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.television.account.SignInAndSignUpActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.accelerateApp.AllAppActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.TestConsoleActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.security.xvpn.z35kb.television.account.ResetPasswordActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.security.xvpn.z35kb.EnforceUpgradeActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.security.xvpn.z35kb.accelerateApp.SplitTunnelingActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:name="com.security.xvpn.z35kb.quickconn.ApplyQuickConnActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"/>
        <service
            android:label="@string/quick_toggle"
            android:icon="@drawable/ic_notification"
            android:name="com.security.xvpn.z35kb.quickconn.QuickConnTileService"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="com.security.xvpn.z35kb.quickconn.QuickConnectService"
            android:foregroundServiceType=""/>
        <receiver
            android:name="com.security.xvpn.z35kb.quickconn.QuickConnActionReciver"
            android:exported="true">
            <intent-filter>
                <action android:name="334gqdj8wm"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.security.xvpn.z35kb.quickconn.QuickToggleShortcut"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.security.xvpn.z35kb.speedtest.SpeedTestExplainActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:name="com.security.xvpn.z35kb.connlog.ConnectionLogActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:name="adSupport.AdInterstitialActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.security.xvpn.z35kb.LanguageActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/OpenSource"
            android:label="@string/oss_license_title"
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/OpenSource"
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/AppTheme.AppOpenAd"
            android:name="com.security.xvpn.z35kb.Adv4.appopen.CustomOpenAdActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <receiver
            android:name="com.security.xvpn.z35kb.quickconn.WidgetProvider"
            android:exported="true">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_RESTORED"/>
                <action android:name="BROADCAST_ACTION_VPN_STATE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.security.xvpn.z35kb.quickconn.QuickConnWidgetAddedReceiver"
            android:exported="true"/>
        <activity
            android:theme="@style/AppTheme.TV"
            android:name="com.security.xvpn.z35kb.television.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|uiMode|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/AppTheme.TV"
            android:name="com.security.xvpn.z35kb.television.purchase.PurchaseActivity"
            android:exported="false"
            android:configChanges="screenSize|uiMode|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="a.wcyybbcujkPra"/>
        <service
            android:name="a.wcyybbcujkCs"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:foregroundServiceType="">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true"/>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.chartboost.sdk.CBImpressionActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.chartboost.sdk.view.CBImpressionActivity"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:hardwareAccelerated="true"/>
        <service
            android:name="com.chartboost.sdk.internal.video.repository.exoplayer.VideoRepositoryDownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.google.android.gms.ads.AdActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:exported="false"
            android:authorities="com.security.xvpn.z35kb.mobileadsinitprovider"
            android:initOrder="100"/>
        <service
            android:name="com.google.android.gms.ads.AdService"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:name="com.google.android.gms.ads.OutOfContextTestingActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"/>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ga_ad_services_config"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <provider
            android:name="com.facebook.ads.AudienceNetworkContentProvider"
            android:exported="false"
            android:authorities="com.security.xvpn.z35kb.AudienceNetworkContentProvider"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.security.xvpn.z35kb.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.security.xvpn.z35kb.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false"/>
        <activity
            android:name="com.vungle.ads.internal.ui.VungleActivity"
            android:launchMode="singleTop"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden"
            android:hardwareAccelerated="true"/>
        <provider
            android:name="com.vungle.ads.internal.util.VungleProvider"
            android:exported="false"
            android:authorities="com.security.xvpn.z35kb.vungle-provider"/>
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="6.0.1"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true"/>
        <meta-data
            android:name="com.android.dynamic.apk.fused.modules"
            android:value="base"/>
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store"/>
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_STANDALONE_APK"/>
        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@xml/splits0"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="2"/>
    </application>
</manifest>
